fastapi==0.115.10
uvicorn==0.34.0
joblib==1.4.2
pandas==2.2.3
numpy==1.26.4
prometheus-client==0.21.1
httpx==0.25.2
pytest==7.4.3 
keras==3.9.0
tensorflow==2.16.1
streamlit==1.43.0
yfinance
datetime
matplotlib
seaborn
tqdm
pandas
scipy